.first {
    border: 2px solid black;
    width: 100%;
    height: 15em;
    margin-bottom: 1em;
}

.second {
    border: 2px solid green;
    width: 48%;
    height: 92%;
    float: left;
    margin: 1%;
    background-color: #f1eded;
}