* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin: 0;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: #58D68D;
    /* margin-bottom: 1em; */
    width: 100%;
    height: 3em;
    margin: 0;
    justify-content: space-around;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.navbar a {
    text-decoration: none;
}

.navbar li {
    list-style-type: none;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

li a {
    color: black;
}

li a:hover {
    color: black;
}

.lielements:hover {
    background-color: #eeeeee;
    transform: scale(1.05);
}

.lielements {
    padding: 0.3em 1em;
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    border-radius: 10px;
    transition: 0.25s;
}


p {
    margin: 0;
}


.navButton {
    background-color: #58D68D;
    border-style: hidden;
    cursor: pointer;
}

.images img {
    width: 31%;
    height: 13em;
    float: left;
    margin-block-end: calc(7%/2);
    margin-inline-end: calc(7%/2);
}

.images img:nth-child(3n) {
    margin: 0;
}

#topButton {
    position: fixed;
    display: none;
    bottom: 1em;
    right: 1.8em;
    background-color: #58D68D;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    padding: 0.3em 1em;
}

@media only screen and (max-width: 800px) {
    body {
        margin: 0;
    }

    .navbar,#monthOfMusic {
        width: 94%;
        left: 3%;
    }

    #sentenceofdayexternal,
    .blog,
    .blogtitle {
        right: 0 !important;
        left: 3%;
        width: 94% !important;
        position: relative !important;
    }

}

@media only screen and (max-width: 800px) {
    /* .dnm {
        width: 100%;
        margin: 0;
    } */
}

/* Sentence of Day */
#sentenceofdayexternal {
    border: 2px solid #deb953;
    padding: 0.3em;
    border-radius: 5px;
    background-color: rgb(239, 228, 214);
    margin-bottom: 1em;


    background: linear-gradient(270deg, #e3caa5, #dddddd);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;

}
#monthOfMusic{
    border: 2px solid #58d4d6;
    padding: 0.3em;
    border-radius: 5px;
    background-color: rgb(219, 235, 240);
    margin-bottom: 1em;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* time */
#clock {
    text-align: end;
}

/* blog */
.blog {
    border-bottom: 2px solid #58D68D;
    border-left: 2px solid #58D68D;
    border-right: 2px solid #58D68D;
    padding: 0.3em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(253, 247, 239);
    margin-bottom: 1em;
    display: none;

}

.blogtitle {
    border-top: 2px solid #58D68D;
    border-right: 2px solid #58D68D;
    border-left: 2px solid #58D68D;
    border-bottom: 2px dashed #58D68D;
    padding: 0.3em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgb(253, 247, 239);
    margin-block-end: 0;
}

.titleInside {
    display: flex;
    flex-direction: row;

}

.leftSide {
    width: 70%;
    float: left;
}

.rightSide {
    width: 27%;
    float: right;
}